.Faceimg{

    color: white;
}

body{
    background-color: rgb(240, 242, 245);
}

.face{
    background-color: lightcyan;
}

.Search{
    width: 600px;
   align-items: center;
}

.Head{
    
    background-color: #4267B2;
    display: flex;
    align-items: center;
    justify-content:space-between
}

.RightTop{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}



button{
   
    font-size: large;
    color: white;
    background-color: #4267B2;
}

.postbutton{
    margin-left: 7%;
}


.Leftbar{


    flex: 1;
    background-color: white;
    width: 25%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
}
.post{

    flex: 1;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin-left: 40%;
    transform: translate(2rem,-7rem);

}


.rightbar{
    flex: 1;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 80%;
    transform: translate(2rem,-7rem);
}

.post{
    margin-top: -10%;
    margin-left: 40%;
   
}